.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.main_nav {
    display: flex;
    justify-content: center;
    span {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 2px;
        background-color: black;
    }
    a{
        padding-left: 8px;
        padding-right: 8px;
        opacity: 0.6;
        span{
            color: black;
            background: inherit;
        }
    }
    a:hover{
        opacity: 1;
        background-color: rgb(187, 175, 175);
    }
    a:hover:nth-child(1){
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    a:hover:nth-child(3){
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    &:hover{
        span{
        margin: 0px;}
    }
}
