.cart_wrapper {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}
.cart_details {
    margin-left: auto;
    margin-top: 1em;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    div {
        overflow-y: scroll;
    }
    button {
        width: 100%;
        border: none;
        color: white;
        font-size: 10pt;
        height: 40px;
        font-weight: bold;
        &:first-child {
            color: white;
            background-color: #1fa2ff;
            -webkit-box-shadow: 0px 6px 22px -5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 6px 22px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 5px 22px -5px rgba(0, 0, 0, 0.75);
            &:hover {
                color: white;
                background: #1fa2ff; /* fallback for old browsers */
                background: -webkit-linear-gradient(
                    to right,
                    #a6ffcb,
                    #12d8fa,
                    #1fa2ff
                ); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(
                    to right,
                    #a6ffcb,
                    #12d8fa,
                    #1fa2ff
                ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
        }
        &:last-child {
            background-color: #279f72;
            -webkit-box-shadow: 0px -5px 22px -5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px -5px 22px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 0px -5px 22px -5px rgba(0, 0, 0, 0.75);
            &:hover {
                background: #1d976c; /* fallback for old browsers */
                background: -webkit-linear-gradient(
                    to right,
                    #93f9b9,
                    #1d976c
                ); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(
                    to right,
                    #93f9b9,
                    #1d976c
                ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
        }
    }
}
.cart_icon {
    z-index: 3;
    color: #106466;
    display: inline-flex;
    margin-left: auto;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    span {
        font-weight: bold;
        font-size: 9pt;
    }
    i {
        font-size: 30pt;
    }
    &:hover {
        cursor: pointer;
        background-color: #106466;
        color: #d2e9e3;
        border-radius: 45px 45px 45px 45px;
    }
}
